<p style="color: green"><%= notice %></p>

<h1>Profile</h1>
 

<p>
    <strong> ID: </strong>
    <%= @profile.id %>
<p>

  <p>
    <strong>Name:</strong>
    <%= @profile.name %>
    <p>

 <p>
    <strong>Father_Name: </strong>
    <%= @profile.father_name %>
  <p>

  <p>
    <strong>Mother_Name:</strong>
    <%=@profile.mother_name%>

  </p>

  <p>
    <strong> Date_of_birth: </strong>
     <%=@profile.birth %>

  </p>

  <p>
    <strong> Email: </strong>
    <%=@profile.email %>

  </p> 

  <p>
    <strong>Aadhar_No</strong>
    <%=@profile.addhar_no %>
  </p>  