  
<%= form_with(model: job) do |form| %>
 
  <div class="card">

  <div class="card-body">

  <div class="mb-3">
  
    <%= form.label :job_title, class: "form-label" %>
    <%= form.text_field :job_title, class: "form-control",  placeholder: "job_title"  %>
  </div>

  <div class="mb-3">
    <%= form.label :company, class: "form-label" %>
    <%= form.text_field :company ,class: "form-control", placeholder: "company" %>
  </div>

  <div class="mb-3">

    
     
    <%= form.label :image, class: "form-label" %>
    <%= form.file_field :image  ,class: "form-control", placeholder: "image " %>
  </div>

  <div class="mb-3">
    <%= form.label :url, class: "form-label" %>
    <%= form.text_field :url , class: "form-control", placeholder: "url" %>
  </div>

  <div class="mb-3">
    <%= form.label :requirment, class: "form-label" %>
    <%= form.text_field :requirment ,class: "form-control", placeholder: "requirment" %>
  </div>

  <div class="mb-3">
    <%= form.label :summary, class: "form-label" %>
    <%= form.text_area :summary %>
  </div>

  <div>
    <%= form.label :responsibily, style: "display: block" %>
    <%= form.text_field :responsibily %>
  </div>

  <div>
    <%= form.submit %>
  </div>
</div>
</div></div>
<% end %>
