

<h1>Jobs</h1>
 
 <table>
 <tr>
   <th>Id </th>
   <th>Job_Title </th>
   <th>Company</th>
   <th>Url</th>
   <th>Requirment</th>
   <th>Summary</th>
   <th>Responsibily</th>
   <th> link</th>

 </tr>
 <% @jobs.each do |job| %>

 <tr>
   <td> <%=job.id %> </td>
   <td><%= job.job_title %></td>
   <td> <%= job.company %>   </td>
   <td>   <%= job.url %></td>
   <td>  <%= job.requirment %> </td>
   <td>    <%= job.summmary %> </td>
   <td> <%= job.responsibily %>  </td>
   <td> <%= link_to "show", job_path(job.id) %></td>
 </tr>
 <% end %>
</table>


<%= link_to "New job", new_job_path %>
